.img-box{
	column-count: 4;
	column-gap: 0;
	width: 90%;
	margin: auto;
}
.image{
	max-width: 100%;
	display: block;
	filter: grayscale(10);
	transition: 1s;
}
.image:hover{
	filter:grayscale(0);
}

.image+.image{
margin: 5px;
}
h1{
	width: 100%;
	text-align: center;
	border: 3px solid black;
	color: blue;
}
body{
	background-color: black;
}
p{
	color: green;
}
@media all and(max-width500px){.img-box{
	column-count: 1;
}
@media all and (max-width:1000px){.img-box{
	column-count: 2;
}
